---
import MainLayouts from "../../layouts/MainLayouts.astro";

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// Laver statiske stier til hvert element i databasen
export async function getStaticPaths() {
  // Henter dataen med fetch
  const data = await fetch("https://raw.githubusercontent.com/siha0004/frontend-design/main/resources/json/employees.json").then((res) => res.json());

  //Benytter map til at lave en underside for hvert element i databasen
  return data.map((elm) => {
    return {
      // Bruger slugget fra database (elm.slug) og navngiver filen dét
      // Det første 'slug' henviser til det slug, som er i mit filnavn (som er [slug].astro)
      // Det næste 'slug' henviser til en kolonne i databasen
      params: { slug: elm.slug },
      props: { employee: elm },
    };
  });
}

// Definere en prop, som dataen der er fetchet
const { employee } = Astro.props;
const { img, name, title, description } = employee;
import type { ImageMetadata } from "astro";
import { normalizeTheLocale } from "astro/virtual-modules/i18n.js";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<MainLayouts title="singleview">
  <section>
    <figure>
      <Image src={images[img]()} alt={name} />
    </figure>

    <article>
      <div class="info">
        <div class="heading">
          <h1 class="h2">{name}</h1>
          <h3 class="h4">{title}</h3>
        </div>
        <hr />
        <ul role="list">
          <li><a href="#"><Icon name="instagram_round" /></a></li>
          <li><a href="#"><Icon name="facebook" /></a></li>
          <li><a href="#"><Icon name="twitter_round" /></a></li>
          <li><a href="#"><Icon name="linked-in_round" /></a></li>
        </ul>
      </div>
      <p>{description} Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
      <!-- line -->
      <h2>Past experience</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </article>
  </section>
</MainLayouts>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: var(--space-4xl);
      margin-top: var(--space-4xl);

      figure {
        grid-column: 1 / 6;
        position: relative;

        > * {
          border-radius: var(--radius);
        }

        &::after {
          content: "";
          position: absolute;
          left: -2rem;
          top: -2rem;
          background: var(--accent);
          width: 14.5rem;
          height: 10.25rem;
          border-radius: var(--radius);
          z-index: -1;
        }

        &::before {
          --square-count: 12;
          --square-size: 1.75rem;

          --_square-size: var(--square-size, 1rem);
          --_square-half: calc(var(--square-size) / 2);
          --_square-sum: calc(var(--square-count) * var(--square-size));
          z-index: -1;
          content: "";
          position: absolute;
          inset: -4rem auto auto -4.5rem;
          /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
          inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
          aspect-ratio: 1;
          background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
          mask:
            var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
            var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
          /* clip-path: polygon(-3% 0%, 100% 0%, 100% 103%); */
        }
      }

      article {
        grid-column: 6 / -1;
        display: flex;
        flex-direction: column;

        .info {
          display: flex;
          gap: var(--space-l);
          align-items: center;

          ul {
            border-left: 1px solid var(--color-divider);
            display: flex;
            gap: var(--space-l);
            padding-left: var(--space-l);

            [data-icon] {
              font-size: var(--step-2);
            }
          }
        }
      }
    }
  }
</style>
