---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import type { ImageMetadata } from "astro";
// import { normalizeTheLocale } from "astro/virtual-modules/i18n.js";

const { employee } = Astro.props;
const { img, name, title, description } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<li>
  <article>
    <div class="img">
      <Image src={images[img]()} alt={name} />
      <p class="title">{title}</p>
    </div>

    <div class="info">
      <h3>
        <a href={`/employee/${employee.slug}`}>{name}</a>
      </h3>
      <p>{description}</p>
      <ul role="list">
        <li><a href="#"><Icon name="instagram" /></a></li>
        <li><a href="#"><Icon name="facebook" /></a></li>
        <li><a href="#"><Icon name="twitter" /></a></li>
      </ul>
    </div>
  </article>
</li>

<style>
  @layer components {
    li {
      container-type: inline-size;
    }
    article {
      color: var(--text-card);
      background: var(--bg-card);
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--space-xl);

      h3,
      p {
        text-align: center;
      }

      .img {
        display: grid;
        gap: var(--space-m);
        & > :is(img, .title) {
          grid-area: 1 / 1;
        }
      }

      .title {
        /* display: inline; */
        place-self: end end;
        background-color: var(--brand);
        border-radius: var(--radius-round);

        padding: 1px var(--space-s);
        margin: var(--space-2xl);
      }

      img {
        border-radius: var(--radius-img);
      }

      .info {
        > * + * {
          margin-top: var(--space-m);
        }

        ul {
          display: flex;
          justify-content: center;
          gap: var(--space-xl);
          z-index: 1;

          li {
            width: 24px;
          }
        }
      }
      h3 > a {
        color: currentcolor;
        text-decoration: none;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }
    }
  }
</style>
