---
import Text from "./Text.astro";
import CardValues from "./CardValues.astro";
import Button from "./Button.astro";

const { data, theme = "light" } = Astro.props;
---

<section data-theme={theme} class="full-bleed">
  <div>
    <Text theme={theme} topic="Growing with our Clients" heading={data.title}>{data.subtitle} </Text>
    <Button theme={theme} type="secondary" link={data.button.link}>{data.button.text}</Button>
  </div>
  <ul role="list">
    {data.values.map((coreValues) => <CardValues {coreValues} />)}
  </ul>
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      --section-bg: var(--neutral-900);
      --section-txt: var(--neutral-100);
      --section-icon: var(--neutral-100);
    }
    section {
      background: var(--section-bg, var(--color-bg-secondary));
      div {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);

        margin-bottom: var(--space-2xl);

        > :last-child {
          flex-shrink: 0;
        }
      }

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--space-xl);
      }
      @media (width> 700px) {
        div {
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
        }
      }
    }
  }
</style>
